extends layout

block title
  title Duitse terminologie op het gebied van #{subjectFieldStr}
  meta(name='description', content='') 

block breadcrumbs
  ul.breadcrumb
    li
      a(href="/") Home
    li
      a(href="/duits-nederlands") Duits-Nederlands
    li
      a(href="/duits-nederlands/vakgebied") Vakgebieden
    li.active
      | #{subjectFieldStr}

block results
  h1 #{subjectFieldStr}                         
  p
    if (dictEntries.length === 0)
      | Voor het vakgebied <mark>#{subjectFieldStr}</mark> zijn voor de talencombinatie Duits-Nederlands geen termen gevonden.
    else  
      | In de terminologische databank van de EU 
      a(href='http://iate.europa.eu/') (IATE) 
      | zijn voor het vakgebied <mark>#{subjectFieldStr}</mark> de volgende Duitse termen met een Nederlandse vertaling gevonden. Klik op de Duitse term om naar de Nederlandse vertaling te gaan.

  include ./includes/de-nl-in-panels.jade
          
