extends layout

block title
  title Duits-Nederlandse vertaling van
  meta(name='description', content='')

block breadcrumbs
  ul.breadcrumb
    li
      a(href="/") Home
    li
      a(href="/duits-nederlands") Duits-Nederlands
    li.active
      | #{termEntry.id}

block results
    .panel.panel-default
      .panel-body
        dl.dl-horizontal
          dt Domein(en)
          dd
            ul.list-unstyled
              each sf in termEntry.subjectFields
                li
                  a(href='/duits-nederlands/vakgebied/#{sf.termUrl}') #{sf.termStr}
          each word in termEntry.de
            dt #{word.lang.toUpperCase()}
            dd
              ul.list-unstyled
                li #{word.termStr}
          each word in termEntry.nl
            dt #{word.lang.toUpperCase()}
            dd
              ul.list-unstyled
                li #{word.termStr}
          dt ID-code
          dd #{termEntry.id}
