extends layout

block title
  title Duits Nederlandse vertaling van #{termStr}
  meta(name='description', content='De Duits-Nederlandse vertaling van het Duitse woord #{termStr} is "#{translations[0].termStrArr[0]}". Deze vertaling is gebaseerd op gegevens verstrekt door de EU.')

block breadcrumbs
  ul.breadcrumb
    li
      a(href="/") Home
    li
      a(href="/duits-nederlands") Duits-Nederlands
    li.active
      | #{termStr}

block results
  h1 #{termStr}
          
  //- p.text-right  
  //-   a(href='#')
  //-     | Alle details weergeven 
  //-     span.glyphicon.glyphicon-play(aria-hidden="true")
  ol.dictionaryList     
    each translation in translations
      li
        .notBold
          if ( translation.subjectFields.length > 0 )
            each sf, index in translation.subjectFields
              i
                a(href='/duits-nederlands/vakgebied/'+sf.termUrl ) #{sf.termStr}
                if (index < translation.subjectFields.length - 1)
                    | , 
            br
          if ( translation.termStrArr.length > 1)
            ul
              each termStr in translation.termStrArr
                li 
                  a(href='/duits-nederlands/id/'+translation.id) 
                    span.glyphicon.glyphicon-play 
                  |  #{termStr}
          else
            a(href='/duits-nederlands/id/'+translation.id) 
              span.glyphicon.glyphicon-play 
            |  #{translation.termStrArr[0]} 
          
  
  hr
  h2 Duits Nederlandse vertaling van #{termStr}
  p De Nederlandse vertaling van het Duitse woord "#{termStr}" is <mark>#{translations[0].termStrArr[0]}</mark>. Deze vertaling is gebaseerd op gegevens verstrekt door de EU
    if (translations[0].subjectFields.length > 0 && translations[0].subjectFields[0].termStr != "Geen domein")
        | en geldt o.a. voor het vakgebied <i>#{translations[0].subjectFields[0].termStr}</i>
    | . Kijk voor meer informatie op 
    a(href="http://iate.europa.eu/") de website van IATE
    | .

  //- hr
  //- p De volgende 10 Duitse woorden met Nederlandse vertalingen in de database zijn:
  //- 
  //- hr
  //- p De vorige 10 Duitse woorden met Nederlandse vertalingen in de database zijn:
